%h1 I'm sorry Dave. I'm afraid I can't let you do that...

%img#hal(src="https://protonius.files.wordpress.com/2012/05/drones-2000px-hal9000-svg-in-wikimedia-by-cryteria.png" alt="error hal")

= render 'users/form'