%h1 Listing seats

/ %table
/   %tr
/     %th Row
/     %th Seat
/     %th
/     %th
/     %th

/   - @seats.each do |seat|
/     %tr
/       %td= seat.row
/       %td= seat.column
/       %td= link_to 'Show', seat

/ %br
- seats.each do |seat|
  <div id="#{seat.row}-#{seat.column}"></div>