%h1 Listing Quarters

.quarters_text
  Please select your quarters:
  - @quarters_info.each do |info|
    .quarters_option
      = info.room_type
      %br
      = info.room_description
      %br
      = image_tag info.room_image, :class => 'quarters_image'
      %br